.main-sub-menu {
    min-width: 100%;
    display: none;
    position: absolute;
    padding: 1rem 0;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

.main-menu__item:hover>.main-sub-menu {
    display: block;
}

.main-sub-menu__item {
    position: relative;
}

.main-sub-menu__item:hover > .main-sub-menu {
    display: block;
    top: 0;
    left: 100%;
}

.main-sub-menu__item:hover > .main-sub-menu__link {
    transition: color .25s;
    color: var(--secondary-color);
}

.main-sub-menu__link {
    white-space: nowrap;
    font-style: italic;
    font-family: var(--aux-font);
    font-size: var(--small-font-size);
    padding: .35rem 1.5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.main-sub-menu__link [class*='fa'] {
    display: inline-block;
    margin-left: 1rem;
}