.section {
    padding-top: var(--section-padding-size);
    padding-bottom: var(--section-padding-size);
}

.section__content {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

@media only screen and (max-width: 768px) {
    .section__content {
        grid-template-columns: 1fr
    }
}

.section__column_position_second {
    grid-column: 2 / 3;
}

.section__title-top {
    font-family: var(--aux-font);
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: .75rem;
}

.section__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
}

@media only screen and (max-width: 768px) {
    .section__title {
        font-size: var(--h2-font-size);
    } 
}

.section__title_color_white {
    color: var(--white-color);
}

.section__title-top_align_left, .section__title_align_left {
    text-align: left;
}

.section__title_margin-bottom_big {
    margin-bottom: 4rem;
}

@media screen and (max-width: 768px){
    .section__title_margin-bottom_big {
        margin-bottom: 1.5rem;
    }
}

.section__paragraph {
    margin-bottom: 1rem;
}

.section__image-container {
    width: 100%;
}

.section__image {
    display: block;
    width: 100%;
}

.section__description {
    padding-top: 1rem;
}